body {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 720px;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 52px;
  padding-top: 10px;
  line-height: 35px;
  color: #303841;
}

h1,
h2,
h3:first-letter {
  text-transform: capitalize;
}

footer {
  padding-top: 10px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: orange;
}

.card {
  display: block;
  margin: 0 auto;
  border: 20px;
}

.full-app {
  padding-bottom: 20px;
  box-shadow: 8px 6px 6px #47555e;
  background: #a7bcb9;
  border-radius: 10px;
}
