body {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 720px;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 52px;
  padding-top: 10px;
  line-height: 35px;
  color: #303841;
}

h1,
h2,
h3:first-letter {
  text-transform: capitalize;
}

footer {
  padding-top: 10px;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: orange;
}

.full-app {
  padding-bottom: 20px;
  box-shadow: 8px 6px 6px #47555e;
  background: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  .full-app {
    margin: 5px;
    padding: 5px;
  }

  h1 {
    font-size: 36px;
  }
}
