.Weather ul {
  padding: 0;
  list-style: none;
  font-size: 14px;
  color: #303841;
  opacity: 0.6;
  line-height: 1.2;
}

.Weather .overview {
  padding: 20px 0px 10px 20px;
  text-align: left;
}

.Weather .sub-overview {
  padding: 0px 10px;
}

.Weather .current-date {
  font-size: 18px;
  color: #303841;
  padding-top: 20px;
  line-height: 10px;
  opacity: 0.9;
}

.Weather .weather-description {
  font-size: 22px;
  line-height: 20px;
  color: #47555e;
}

.Weather .overview-weather {
  text-align: right;
  padding: 20px 30px 10px 0;
}

.Weather .todays-temp {
  font-size: 52px;
  line-height: 1;
}

.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -30px;
  color: black;
}

.Weather .today-weather-icon {
  padding-right: 10px;
}

.Weather .city-search-form {
  margin: 20px 10px;
}
